/* pc */
@media(min-width:64em){

}
/* tablet & mobile */
@media(max-width: 63.9375em){
    .place-buy-btn
    {
        padding: 15px 16px;
    }        
    #nav .subnav > li > a{
        line-height: 46px;
         
    }
    
    .contact-form .form-control{
        font-size: 16px;
        padding: 15px;
        outline-color: tomato;
    }
    .form-submit-btn{
        font-size: 16px;
        padding: 16px 30px;
    }
    #footer .socials-list{
        font-size:48px;
        letter-spacing:10px;
    }
    #footer .copyright {
        font-size: 20px;
    }
    #footer .copyright a {
        padding: 17px 0;
        
        display: inline-block;
    }
    
}
/* tablet */
@media(min-width:46.25em) and (max-width:63.9375em)
{
.contact-infor{
        line-height: 1.9;
    }
}
/* mobile */
@media (max-width:46.1875em) {
    .s-col-full,
    .s-full-width{
        width: 100% !important;
    }
    .s-mt-8{
        margin-top:8px;
    }
    #header .search-button-header{
        display: none;
    }
    #header{
        overflow: hidden;
    }
    #header .mobile-menu-btn{
        display: block;
    }
    #nav{
        
        display:block;
    }
    #nav > li:first-child{
        display:inline-block;
    }
    #nav > li {
        display: block;
    }
    #nav .subnav > li > a{
        color: #fff;
        padding-left: 35px;
         
    }
    #nav .subnav{
        position: initial;
        background-color:#333;
    }
   
    #content .member-list .member-avata{
        width:60%;
    }
   
    .place-buy-btn{
        
    }
    #slider .text-content{
        
    }
    .contact-form{
        
        margin-top: 16px;
    }
    /* lưu ý trên mobile ngón tay nó to nên ta phải để chiều cao tối thiểu là 42->48px */
    
    


    

}